body {
    background-image: url(images/bg-intro-mobile.png);
    background-color: rgba(255,121,120, 0.9);
    font-family: 'Poppins';
    cursor: default;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }

button {
    border: none;
}

:root {
    --soft-borders: 9px;
}

.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10% 5% 10% 5%;
}

.form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: auto;
    padding: 5%;
    border-radius: var(--soft-borders);
    background-color: white;
    box-shadow: 0px 9px 1px rgb(217,101,102);
    margin-left: 7.5%;
}

form {
    width: 95%;
}

/* -------BUTTONS---------- */



.subscribe-button {
    background-color: hsl(248, 32%, 49%);
    color: white;
    letter-spacing: 0.8px;
    line-height: 1.5;
    font-size: 15px;
    width: 85%;
    height: 70px;
    margin-bottom: 6%;
    margin-top: 3%;
    border-radius: var(--soft-borders);
    box-shadow: 0px 9px 1px rgb(217,101,102);
    transition: all 100ms;
}

.submit-button {
    width: 98%;
    height: 60px;
    margin-bottom: 5%;
    border-radius: var(--soft-borders);
    font-size: 17px;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0px 6px 1px #32b278;
    transition: all 100ms;
}


/* --------TEXT--------- */

.text-block p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15px;
    color: white;
}

.text-block h1 {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 26px;
    color: white;
}

.form-block input {
    width: 100%;
    height: 50px;
    margin-bottom: 4%;
    border: 1px solid;
    border-color: rgb(199, 199, 199);
    border-radius: 4px;
    padding: 8px 8px 8px 13px;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 500;
    
}

.label-after-text {
    font-size: 11px;
    margin: 0 10% 3% 10%;
    color: hsl(246, 25%, 77%);
}

.label-after-text b {
    color: hsl(0, 100%, 74%) ;
}


/* --------EFFECTS--------- */

.subscribe-button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transform: scale(1.03);
    transition: all 100ms;
    
}

.subscribe-button:active {
    transform: scale(0.97);
    transition: all 100ms;
}

.submit-button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transform: scale(1.03);
    transition: all 100ms;
}

.submit-button:active {
    transform: scale(0.97);
    transition: all 100ms;
}

input:focus {
    outline: none;
    border-color: hsl(248, 32%, 49%);
    box-shadow: 0 0 0 0.1px hsl(248, 32%, 49%);
}


/* ---------FOR JS---------- */

.icon {
    background-image: url(images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-image: none;
}

.text-input {
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    margin-top: -10px;
    margin-left: 40%;
    color: rgba(255,121,120, 0.9);
    display: none;
}

.icon.wrong {
    background-image: url(images/icon-error.svg);
    animation: shake 0.4s ease-in-out;
    outline: none;
    border-color: hsl(347, 87%, 69%);
    box-shadow: 0 0 0 0.1px;
}

.text-input.wrong {
    display: block;
    animation: shake 0.4s ease-in-out;
}


/* --------RESPONSIVE--------- */

@media (min-width: 1024px) {
    .main-block {
        display: flex;
        flex-direction: row;
    }

    body {
        height: 1dvh;
    }

    .text-block h1 {
        /* padding-left: 10%;
        padding-right: 10%; */
        font-size: 55px;
        line-height: 1;
        text-align: left;
        margin: 0 0 30px 0;
    }

    .text-block p {
        /* padding-left: 20%;
        padding-right: 15%; */
        text-align: left;
        font-size: 18px;
        margin: 0;
    }

    .text-block {
        width: 60%;
        padding-left: 15%;
        padding-right: 10%;
    }
}